<div class="main-layout">
    <div class="main-layout-container-left">
        <div class="main-layout-container-left-title-and-logo">
            <h1 class="main-layout-container-left-title">
                SoftFit
            </h1>
        </div>
        <div class="main-layout-container-left-sidenav">
            <app-sidenav [dataPath]="sidenavDataPath"></app-sidenav>
        </div>
        <div class="main-layout-container-left-utils">
            <div class="main-layout-container-left-user">
                <img class="main-layout-container-left-user-icon" src="../../../../assets/icons/users/user.svg" alt="">
                <p class="main-layout-container-left-user-username">
                    {{ username }}
                </p>
            </div>
            <button (click)="logout()" class="main-layout-container-left-logout">
                {{ buttonLogout | translate }}
            </button>
            <select class="main-layout-container-left-language" 
            (change)="changeLanguage($event)">
                <option value="pt">PT</option>
                <option value="en">EN</option>
            </select>
        </div>
    </div>

    <div class="main-layout-container-right">
        <router-outlet></router-outlet>
    </div>
</div>