.main-layout {
    width: 100vw;
    height: 100vh;
    background-color: #F6F6FB;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    &-container-left {
        width: 230px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        box-sizing: border-box;
        padding-top: 25px;

        &-title-and-logo {
            height: 30px;
            padding-left: 15px;
            padding-bottom: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 4px;
            border-bottom: 1px solid #D8D8E6;
        }

        &-title {
            margin: 0px;
            font-family: 'Poppins';
            font-family: 'Mona-sans';
            font-size: 20px;
            font-weight: 600;
        }

        &-logo {
            width: 30px;
            height: 30px;
        }

        &-sidenav {
            width: 100%;
            flex: 1;
        }

        &-utils {
            width: 100%;
            margin-bottom: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 10px;
        }

        &-user {
            width: 100%;
            max-height: 50px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 5px;
            padding-left: 15px;
            box-sizing: border-box;

            &-icon {
                height: 17px;
                width: 17px;
            }

            &-username {
                padding: 0px;
                margin: 0px;
                font-family: 'Poppins';
                font-size: 14px;
                font-weight: 500;
            }
        }

        &-logout {
            cursor: pointer;
            text-align: left;
            width: calc(100% - 22px);
            height: 30px;
            margin-left: 12px;
            padding-left: 12px;
            box-sizing: border-box;
            background-color: #e4e4f5;
            border: none;
            border-radius: 10px;
            font-family: 'Poppins';
            font-size: 12px;
            color: #3F4B55;
        }

        &-language {
            cursor: pointer;
            height: 30px;
            width: calc(100% - 22px);
            margin-left: 12px;
            padding-left: 9px;
            box-sizing: border-box;
            background-color: #eeeeee;
            border-radius: 10px;
            border: none;
            font-family: 'Poppins';
            font-size: 12px;
            outline: none;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    &-container-right {
        flex: 1;
        height:100%;
        background-color: #ffffff;
        border-left: 1px solid #D8D8E6;
        box-sizing: border-box;
    }
}
