.sidenav {
    width: 100%;
    height: 100%;
    padding-top: 33px;
    padding-left: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #dfdede;

    &-list-links {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    &-link {
        cursor: pointer;
        width: calc(100% - 42px);
        padding: 5.5px 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        &:hover {
            text-decoration: underline;
        }

        &-active {
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid  #3f4b556d;
            
            &:hover {
                text-decoration: none;
            }
        }

        &-icon {
            height: 19px;
            width: 19px;
        }

        &-text {
            padding: 0px;
            margin: 0px;
            font-family: 'Poppins';
            font-size: 11.7px;
            color: #3F4B55;
        }
    }
}